- var overallStatus = overallCondition == "POSITIVE"

doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title #{resultsForText}
    style(type='text/css').
      * {
      margin: 0px;
      padding: 0px;
      text-indent: 0px;
      }
      .s1 {
      color: #8A727D;
      font-family: Calibri, sans-serif;
      font-style: italic;
      font-weight: normal;
      text-decoration: none;
      font-size: 11pt;
      }
      .s2 {
      color: #937C86;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 8pt;
      }
      .s3 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 6pt;
      }
      .s4 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 6pt;
      }
      .s5 {
      color: #8A727D;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 10pt;
      }
      .s6 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 7pt;
      }
      .s7 {
      color: #F8F2E7;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 12pt;
      }
      .s8 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 9pt;
      }
      .s9 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 12pt;
      }
      .s10 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 10pt;
      }
      .s11 {
      color: #8A727D;
      font-family: "Times New Roman", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12pt;
      }
      .s12 {
      color: #8A727D;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12pt;
      }
      .s13 {
      color: black;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 1pt;
      }
      .s14 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 8pt;
      }
      .s15 {
      color: #8A727D;
      font-family: Calibri, sans-serif;
      font-style: italic;
      font-weight: normal;
      text-decoration: none;
      font-size: 11pt;
      }
      .s16 {
      color: #8A727D;
      font-family: "Times New Roman", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12pt;
      border-bottom-style: solid;
      }
      .h1 {
      color: #8A727D;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12pt;
      }
      .s17 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 10pt;
      }
      .s18 {
      color: #FFF;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 12pt;
      }
      .s19 {
      color: #FFF;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 12pt;
      }
      .s20 {
      color: #8A727D;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 12pt;
      }
      .p,
      p {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 5pt;
      margin: 0pt;
      }
      #screenL p {
        padding-top: 5pt;
        padding-left: 4pt;
        padding-right: 7pt;
        padding-bottom: 4pt;
        text-indent: 0pt;
        text-align: justify;
        font-size: 9pt;
      }
      h2 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 5pt;
      }
      .s21 {
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
      font-size: 36pt;
      }
      li {
      display: block;
      }
      #l1 {
      padding-left: 0pt;
      counter-reset: c1 1;
      }
      #l1>li>*:first-child:before {
      counter-increment: c1;
      content: counter(c1, decimal)". ";
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 5pt;
      }
      #l1>li:first-child>*:first-child:before {
      counter-increment: c1 0;
      }
      li {
      display: block;
      }
      #l2 {
      padding-left: 0pt;
      counter-reset: d1 1;
      }
      #l2>li>*:first-child:before {
      counter-increment: d1;
      content: counter(d1, decimal)". ";
      color: #231F20;
      font-family: Calibri, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 5pt;
      }
      #l2>li:first-child>*:first-child:before {
      counter-increment: d1 0;
      }
      table,
      tbody {
      vertical-align: top;
      overflow: visible;
      }
  body
    div(style='margin: -5px;')
      p(style='text-indent: 0pt;text-align: left;')
        span
      table(border='0' cellspacing='0' cellpadding='0')
        tbody
          tr
            td
              img(width='101' height='35' src='./templates/assets/juno-logo-purple.svg')
            td(style='width:423pt;border-left-style:solid;border-left-width:1pt;border-left-color:#FFFFFF')
                p.s3(style='padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: right;')
                  span.s15 #{resultsForText}
      p(style='text-indent: 0pt;text-align: left;')
        br
      div
        table(style='border-collapse:collapse; float: left; width: 46%; margin: 5px;' cellspacing='0')
          tbody
            tr(style='height:14pt')
              td(style='width:252pt' colspan='4')
                p.s2(style='padding-left: 4pt;text-indent: 0pt;text-align: left;')
                  | #{patientDemographics}
            tr(style='height:59pt')
              td(style='width:55pt' bgcolor='#F8F2E6')
                p(style='text-indent: 0pt;text-align: left;')
                  br
                p.s3(style='padding-left: 4pt;padding-right: 3pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  | Patient Name:
                p.s3(style='padding-left: 4pt;padding-right: 3pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  | Date of birth:
                p.s3(style='padding-left: 4pt;padding-right: 3pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  | Email:
                p.s3(style='padding-left: 4pt;padding-right: 4pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  | Report date:
                p.s3(style='padding-left: 4pt;padding-right: 4pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  | Study performed:
              td(style='width:40pt;border-right-style:solid;border-right-width:1pt;border-right-color:#FFFFFF' bgcolor='#F8F2E6')
                p(style='text-indent: 0pt;text-align: left;')
                  br
                p.s3(style='padding-left: 2pt;padding-right: 27pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  | #{patientName}
                p.s3(style='padding-left: 2pt;padding-right: 27pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  | #{patientDob}
                p.s3(style='padding-left: 2pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  a.s4(href='mailto:#{patientEmail}' target='_blank') #{patientEmail}
                p.s3(style='padding-left: 2pt;text-indent: 0pt;line-height: 123%;text-align: left;')
                  | #{reportDate}
                p.s3(style='padding-left: 2pt;text-indent: 0pt;line-height: 7pt;text-align: left;')
                  | #{testNameShort}
              td(style='width:70pt;border-left-style:solid;border-left-width:1pt;border-left-color:#FFFFFF' bgcolor='#F8F2E6')
                p(style='text-indent: 0pt;text-align: left;')
                  br
                p.s3(style='padding-left: 4pt;text-indent: 0pt;text-align: left;') LMP:
                p.s3(style='padding-left: 4pt;text-indent: 0pt;text-align: left;') Sample collection date:
                p.s3(style='padding-left: 4pt;text-indent: 0pt;text-align: left;') GA at sample collection:
                p.s3(style='padding-left: 4pt;text-indent: 0pt;text-align: left;') Gestation:
              td(style='width:51pt' bgcolor='#F8F2E6')
                p(style='text-indent: 0pt;text-align: left;')
                  br
                p.s3(style='padding-left: 3pt;text-indent: 0pt;text-align: left;')
                  | #{patientLmpDate}
                p.s3(style='padding-left: 3pt;text-indent: 0pt;text-align: left;')
                  | #{patientSampleCollectionDate}
                p.s3(style='padding-left: 3pt;text-indent: 0pt;text-align: left;')
                  | #{patientGA}
                p.s3(style='padding-left: 3pt;text-indent: 0pt;text-align: left;')
                  | #{patientGestiationType}
        table(style='border-collapse:collapse; float: left; width: 50%; margin: 1px;' cellspacing='0')
          tbody
            tr(style='height:15pt')
              td(style='width:307pt')
                p.s2(style='padding-left: 1pt;text-indent: 0pt;text-align: left;')
                  | About #{testNameExtended}:
            tr(style='height:61pt')
              td(style='width:307pt')
                p.s6(style='padding-top: 1pt;padding-left: 1pt;padding-right: 1pt;text-indent: 0pt;line-height: 8pt;text-align: justify;')
                  | #{testDescription}
      p(style='padding-left: 7pt;text-indent: 0pt;text-align: left;')
        span(style=' color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 1pt;')
      p(style='text-indent: 0pt;text-align: left;')
      br
      br
      table(style='border-collapse:collapse;margin-left:7.75pt; margin-top: 10pt;' cellspacing='0')
        tbody
          tr(style='height:19pt')
            td(style='width:566pt' colspan='3' bgcolor='#8A727D')
              p.s7(style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;')
                | #{FINAL_TEST_SUMMARY_HEADER}
          tr(style='height:27pt')
            td(style='width:188pt;border-left-style:solid;border-left-width:1pt;border-left-color:#8A727D; text-align: left;')
              p.s8(style='padding-left: 5pt;padding-top: 6pt;text-indent: 0pt;text-align: left;')
                | #{RESULT}
            td(style='width:188pt; text-align: left;')
              p.s8(style='padding-top: 6pt;text-indent: 0pt;text-align: left;')
                | #{FETAL_SEX}
            td(style='width:188pt;border-right-style:solid;border-right-width:1pt;border-right-color:#8A727D; text-align: left;')
              p.s8(style='padding-top: 6pt;text-indent: 0pt;text-align: left;') #{FETAL_FRACTION}
          tr(style='height:75pt;')
            td(style='width: 188pt;align-items: left; border-left-style:solid;border-left-width:1pt;border-left-color:#8A727D;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#8A727D; text-align: left;')
              p.s9(style='padding-left: 5pt;padding-top: 7pt;text-indent: 0pt; text-align: left;')
                | #{overallResultText}
              img(width='50px' style="margin-left: 30px;" src=overallResultSVGPdf)
            td(style='width:188pt;align-items: left;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#8A727D; text-align: left;')
              p.s9(style='padding-top: 7pt;text-indent: 0pt; text-align: left;')
                | #{fetalSexText}
              img(width='50px' src=overallFetalSexSVGPdf)
            td(style='width:188pt;height:72pt;align-items: left;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#8A727D;border-right-style:solid;border-right-width:1pt;border-right-color:#8A727D; text-align: left;')
              p.s9(style='padding-top: 7pt;text-indent: 0pt; text-align: left;')
                | #{fetalFractionText}
              img(width='50px' src=overallFetalFractionSVGPdf)
      p(style='text-indent: 0pt;text-align: left;')
        br
      if overallStatus
        br
        table(style='border-collapse:collapse;margin-left:7.7492pt' cellspacing='0')
          tbody
            tr(style='height:19pt')
              td(style='width:566pt' colspan='2' bgcolor='#8A727D')
                p.s7(style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;')
                  | #{POSITIVE_PREDICTIVE_VALUE_HEADER}
            tr(style='height:73pt')
              td(style='width:109pt;border-left-style:solid;border-left-width:1pt;border-left-color:#8D737D;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#8D737D')
                p.s21(style='padding-top: 1pt;padding-left: 9pt;text-indent: 0pt;line-height: 41pt;text-align: left;')
                  | #{ppvPercentage}
                p.s8(style='padding-left: 9pt;text-indent: 0pt;line-height: 10pt;text-align: left;')
                  | Age:
                  | #{ppvPatientAge}
                p.s8(style='padding-top: 1pt;padding-left: 9pt;text-indent: 0pt;text-align: left;')
                  | GA:
                  | #{ppvPatientGA}
              td(style='width:457pt;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#8D737D;border-right-style:solid;border-right-width:1pt;border-right-color:#8D737D')
                p.s8(style='padding-top: 7pt;padding-left: 16pt;padding-right: 19pt;text-indent: 0pt;text-align: left;')
                  | #{ppvExplanation}
      p(style='text-indent: 0pt;text-align: left;')
        br
      br
      table(style='border-collapse:collapse;margin-left:7.375pt; border-style:solid;border-width:1pt;border-color:#8D737D; width: 100%;' cellspacing='0')
        tbody
          tr(style='height:19pt')
            td(style='width:567pt' colspan='4' bgcolor='#8A727D')
              p.s7(style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;')
                | #{CONDITIONS_EVALUATED_HEADER}
          tr(style='height:32pt; border-left-color:#8D737D')
            td(style='width:25%; ')
              p(style='text-indent: 0pt;text-align: left;')
                br
            td(style='width:30%')
              p.s8(style='padding-top: 6pt;padding-left: 33pt;text-indent: 0pt;text-align: left;')
                | #{POST_TEST_RISK}
            td(style='width:30%')
              p.s8(style='padding-top: 6pt;padding-left: 49pt;text-indent: 0pt;text-align: left;')
                | #{INTERPRETATION}
            td(style='width:15%;text-align: center;')
              p(style='text-indent: 0pt;text-align: left;')
                br
          tr(style='height:60px;  border-left-color:#8D737D;')
            td(style='width:25%;height:60px;vertical-align: middle;')
              p.s10(style='padding-top: 12pt;padding-left: 9pt;text-indent: 0pt;text-align: left;font-size: 10pt;')
                | #{condition1Title}
            td(style='width:30%;height:60px;vertical-align: middle;')
              p.s10(style='padding-top: 12pt;padding-left: 33pt;text-indent: 0pt;text-align: left;font-size: 10pt;')
                | #{condition1Risk}
            td(style='width:30%;height:60px;vertical-align: middle;height:60px;')
              p.s10(style='padding-top: 12pt;padding-left: 49pt;text-indent: 0pt;text-align: left;font-size: 10pt;')
                | #{condition1InterpretationText}
            td(style='width:15%;height:60px;vertical-align: middle;text-align:center;border-right-style:solid;border-right-width:1pt;border-right-color:#8D737D')
              img(width='25px' heigth='20px' src=condition1Icon)
                br
              p(style='padding-left: 54pt;text-indent: 0pt;text-align: left;')
              p.s8 21
          tr(style='height:100px')
            td(style='width:25%;height:60px;vertical-align: middle;')
              p(style='text-indent: 0pt;text-align: left;')
                br
              p.s10(style='padding-left: 9pt;text-indent: 0pt;text-align: left; font-size: 10pt;')
                | #{condition2Title}
            td(style='width:30%;height:60px;vertical-align: middle;')
              p(style='text-indent: 0pt;text-align: left;')
                br
              p.s10(style='padding-left: 33pt;text-indent: 0pt;text-align: left;font-size: 10pt;')
                | #{condition2Risk}
            td(style='width:30%;height:60px;vertical-align: middle;')
              p(style='text-indent: 0pt;text-align: left;')
                br
              p.s10(style='padding-left: 49pt;text-indent: 0pt;text-align: left;font-size: 10pt;')
                | #{condition2InterpretationText}
            td(style='width:15%;height:60px;vertical-align: middle;text-align: center;')
              img(width='15px' heigth='20px' src=condition2Icon)
                br
              p(style='padding-left: 54pt;text-indent: 0pt;text-align: left;')
              p.s8 18
          tr(style='height:60px; border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#8D737D')
            td(style='width:25%;height:60px;vertical-align: middle;')
              p(style='text-indent: 0pt;text-align: left;')
                br
              p.s10(style='padding-left: 9pt;text-indent: 0pt;text-align: left;font-size: 10pt;')
                | #{condition3Title}
            td(style='width:30%;height:60px;vertical-align: middle;')
              p(style='text-indent: 0pt;text-align: left;')
                br
              p.s10(style='padding-left: 33pt;text-indent: 0pt;text-align: left;font-size: 10pt;')
                | #{condition3Risk}
            td(style='width:30%;height:60px;vertical-align: middle;')
              p(style='text-indent: 0pt;text-align: left;')
                br
              p.s10(style='padding-left: 49pt;text-indent: 0pt;text-align: left;font-size: 10pt;')
                | #{condition3InterpretationText}
            td(style='width:15%;height:60px;vertical-align: middle;text-align: center;')
              //div(style="margin-top:40%;")
              img(width='12px' heigth='15px' src=condition3Icon)
                br
              p(style='padding-left: 54pt;text-indent: 0pt;text-align: left;')
              p.s8 13
      p(style='text-indent: 0pt;text-align: left;')
        br
      br
      table(style='border-collapse:collapse;margin-left:7.7504pt' cellspacing='0')
        tbody
          tr(style='height:19pt')
            td(style='width:567pt' bgcolor='#8A727D')
              p.s7(style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;')
                | #{WHAT_DOES_THIS_RESULT_MEAN_HEADER}
          tr(style='height:56pt')
            td(style='width:567pt;border-left-style:solid;border-left-width:1pt;border-left-color:#8D737D;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#8D737D;border-right-style:solid;border-right-width:1pt;border-right-color:#8D737D')
              p.s10(style='padding-top: 6pt;padding-left: 9pt;text-indent: 0pt;text-align: left;')
                | #{overallResultsSummary}
      p(style='text-indent: 0pt;text-align: left;')
        br
      if !overallStatus
        br
      table(style='border-collapse:collapse;margin-left:7.5pt' cellspacing='0')
        tbody
          tr(style='height:20pt')
            td(style='width:567pt;border-top-style:solid;border-top-width:1pt; border-top-color:#BCBEC0; border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BCBEC0')
              p.s11(style='padding-top: 1pt;text-indent: 0pt;text-align: left;')
                span.s12
                  | #{SCREENING_METHODS_HEADER}
          tr(style='height:33pt')
            td(style='width:567pt')
              p.s10(style='padding-top: 3pt;padding-left: 9pt;text-indent: 0pt;line-height: 14pt;text-align: left;')
                | #{screeningMethodText}
      p(style='text-indent: 0pt;text-align: left;')
        br
      if !overallStatus
        br
        br
        br
      br
      p.s13(style='padding-left: 7pt;text-indent: 0pt;line-height: 1pt;text-align: left;')  
      div(style='position:relative;margin-top: 10pt; margin-bottom: 35pt;')
        img(style='position:absolute;bottom:-22px; z-index: 99;margin-left: 95px;' width='90px' height='60px' src='./templates/assets/signature.svg')
        p.s14(style='padding-top: 1pt;padding-left: 7pt;text-indent: 0pt;text-align: left; width: 55%; margin-top: 10px; border-top: black; border-top-width: 1px; border-top-style: solid; padding-right: 2px; float: left; margin: 2pt;')
          | Lab
          | Director
          | Signature
        p.s14(style='position: absolute; top:-6px; width: 70%; text-align:right;') #{signDate}
        p.s14(style='padding-top: 1pt;padding-left: 7pt;text-indent: 0pt;text-align: left; width: 40%; margin-top: 10px; border-top: black; border-top-width: 1px; border-top-style: solid; padding-left: 2px; float: left; margin: 2pt;')
          | Date
      if !overallStatus
        br
        br
        br
      
      div(style='page-break-inside:avoid;page-break-after:always; border-top: gray; border-top-width: 1px; border-top-style: solid;')
        table(border='0' cellspacing='0' cellpadding='0' style='width: 100%; padding-top: 16pt;')
          tbody
            tr
              td
                p(style='font-size: 7pt;')
                  strong Juno Diagnostics™:
                  |  11760 Sorrento Valley Rd, Suite J, San Diego, CA
                  |                             92121; 
                  strong CLIA ID#:
                  |                             05D2245052; 
                  strong Lab Director:
                  |  Juan-Sebastian Saldivar, MD.
                p #{hipaaDisclaimer}
              td
                p
              td
                img(width='86' height='30' src='./templates/assets/juno-logo-purple.svg')
        table(style='padding-bottom: 16pt; width: 100%;')
          tbody
            tr
              td(style='width: 200pt')
                p(style='font-size: 7pt;color: #8A727D;') #{patientName}, DOB #{patientDob}
              td
                p(style='font-size: 7pt;color: #8A727D;')  #{testName}
              td
                p(style='font-size: 7pt;')  
              td
                p Page 1 of 2
      p(style='text-indent: 0pt;text-align: left;')
      p(style='text-indent: 0pt;text-align: left;')
        span
      div(style='display: flex; flex-direction: col;')
        table(border='0' cellspacing='0' cellpadding='0' style='width: 100%;')
          tbody
            tr
              td(style='width:120px')
                img(width='101' height='35' src='./templates/assets/juno-logo-purple.svg')
              td(style='width:149pt;border-right-style:solid;border-right-width:1pt;border-right-color:#FFFFFF; width: 100px;' bgcolor='#F8F2E6')
                p.s3(style='padding-top: 0pt;padding-right: 4pt;text-indent: 0pt;line-height: 11pt;text-align: left; width: 100px;')
                  | Patient Name:
                p.s3(style='padding-top: 0pt;padding-right: 4pt;text-indent: 0pt;text-align: left; width: 100px;')
                  | Report date:
                p.s3(style='padding-top: 1pt;padding-right: 4pt;text-indent: 0pt;text-align: left; width: 100px;')
                  | Study performed:
              td(style='width:423pt;border-left-style:solid;border-left-width:1pt;border-left-color:#FFFFFF; width: 100px;' bgcolor='#F8F2E6')
                p.s3(style='padding-left: 3pt;text-indent: 0pt;line-height: 11pt;text-align: left; width: 100px;')
                  | #{patientName}
                p.s3(style='padding-left: 3pt;text-indent: 0pt;text-align: left; width: 100px;')
                  | #{reportDate}
                p.s3(style='padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left; width: 100px;')
                  | #{testNameShort}
              td(style='width:423pt;border-left-style:solid;border-left-width:1pt;border-left-color:#FFFFFF')
                p.s3(style='padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: right;')
                  span.s15 #{resultsForText}
      p(style="height: 5pt;")
      br
      p.s16(style='width:567pt;border-top-style:solid;border-top-width:1pt; border-top-color:#BCBEC0; border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BCBEC0;padding-top: 2pt;padding-left: 9pt;text-indent: 0pt;text-align: left;')
        span.h1
          | #{SCREENING_PERFORMANCE_HEADER}
      p.s17(style='padding-top: 7pt;padding-left: 18pt;text-indent: 0pt;text-align: left;')
        | #{screeningPerformaceText}
      p(style='text-indent: 0pt;text-align: left;')
        br
      table(style='border-collapse:collapse;margin-left:10.375pt' cellspacing='0')
        tbody
          tr(style='height:21pt')
            td(style='width:122pt;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF')
              p(style='text-indent: 0pt;text-align: left;')
                br
            td(style='width:223pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#A08A93')
              p.s18(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | SENSITIVITY
                | (95% CI)
            td(style='width:222pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#BEB0B5')
              p.s18(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | SPECIFICITY
                | (95% CI)
          tr(style='height:21pt')
            td(style='width:122pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#8D737D')
              p.s18(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | Trisomy
                | 21
            td(style='width:223pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#A08A93')
              p.s19(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | >99%
                | (95%-100%)
            td(style='width:222pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#BEB0B5')
              p.s19(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | >99.9%
                | (99%-100%)
          tr(style='height:21pt')
            td(style='width:122pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#8D737D')
              p.s18(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | Trisomy
                | 18
            td(style='width:223pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#A08A93')
              p.s19(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | >99%
                | (94%-100%)
            td(style='width:222pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#BEB0B5')
              p.s19(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | >99.9%
                | (99%-100%)
          tr(style='height:21pt')
            td(style='width:122pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#8D737D')
              p.s18(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | Trisomy
                | 13
            td(style='width:223pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#A08A93')
              p.s19(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | >99%
                | (79%-100%)
            td(style='width:222pt;border-top-style:solid;border-top-width:6pt;border-top-color:#FFFFFF;border-left-style:solid;border-left-width:6pt;border-left-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:6pt;border-bottom-color:#FFFFFF;border-right-style:solid;border-right-width:6pt;border-right-color:#FFFFFF' bgcolor='#BEB0B5')
              p.s19(style='padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;')
                | >99.9%
                | (99%-100%)
      p(style='text-indent: 0pt;text-align: left;')
        br
      br
      table(style='border-collapse:collapse;margin-left:7.375pt' cellspacing='0')
        tbody
          tr(style='height:20pt')
            td(style='width:572pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BCBEC0;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BCBEC0')
              p.s20(style='padding-top: 1pt;padding-left: 9pt;text-indent: 0pt;line-height: 17pt;text-align: left;')
                | #{SCREENING_LIMITATIONS_HEADER}
          tr(style='height:314pt')
            td(style='width:572pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BCBEC0;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BCBEC0')
              div#screenL.s8(style='padding-top: 7pt;padding-left: 9pt;padding-right: 7pt;text-indent: 0pt;text-align: left;') [screeningLimitations]
      p.s14(style='padding-top: 5pt;padding-left: 16pt;text-indent: 0pt;line-height: 9pt;text-align: left;')
        | #{SCREENING_REFERENCES_HEADER}
      ol#l1(style="line-height:50%; border-bottom: gray; border-bottom-width: 1px; border-bottom-style: solid;")
        li
          p(style='padding-left: 25pt;text-indent: -9pt;text-align: left;')
            | Palomaki GE, Deciu C, Kloza EM, et al. DNA sequencing of maternal plasma reliably identifies trisomy 18 and trisomy 13 as
            | well
            | as Down syndrome: an international collaborative study. Genet Med. 2012;14(3):296-305.
            | doi:10.1038/gim.2011.73
        li
          p(style='padding-left: 25pt;text-indent: -9pt;text-align: left;')
            | Mazloom AR, Džakula
            | Ž,
            | Oeth P, et al. Noninvasive prenatal detection of sex chromosomal aneuploidies by sequencing
            | circulating
            | cell-free DNA from maternal plasma. Prenat Diagn. 2013;33(6):591-597. doi:10.1002/pd.4127
        li
          p(style='padding-left: 25pt;text-indent: -9pt;text-align: left;')
            | Ehrich M, Tynan J,
            | Mazloom A, et al. Genome-wide cfDNA screening: clinical laboratory experience with the first 10,000
            | cases. Genet Med. 2017;19(12):1332-1337. doi:10.1038/gim.2017.56
        li
          p(style='padding-left: 25pt;text-indent: -9pt;text-align: left;')
            | American College of
            | Obstetricians and Gynecologists Committee on Genetics. Committee Opinion No. 545: Noninvasive
            | prenatal
            | testing for fetal aneuploidy. Obstet Gynecol. 2012;120(6):1532-1534.
            | doi:10.1097/01.AOG.0000423819.85283.f4
        li
          p(style='padding-left: 25pt;text-indent: -9pt;text-align: left;')
            | Gregg AR, Skotko BG,
            | Benkendorf JL, et al. Noninvasive prenatal screening for fetal aneuploidy, 2016 update: a position
            | statement of the American College of Medical Genetics and Genomics. Genet Med.
            | 2016;18(10):1056-1065.
            | doi:10.1038/gim.2016.97
        li
          p(style='padding-left: 25pt;text-indent: -9pt;text-align: left;')
            | American College of Obstetricians and
            | Gynecologists' Committee on Practice Bulletins—Obstetrics; Committee on Genetics; Society for
            | Maternal-Fetal Medicine. Screening for Fetal Chromosomal Abnormalities: ACOG Practice Bulletin,
            | Number
            | 226. Obstet Gynecol. 2020;136(4):e48-e69. doi:10.1097/AOG.0000000000004084
        li
          p(style='padding-left: 25pt;text-indent: -9pt;text-align: left;')
            | Kim SK, Hannum G,
            | Geis J,
            | et al. Determination of fetal DNA fraction from the plasma of pregnant women using sequence read
            | counts.
            | Prenat Diagn. 2015;35(8):810-815. doi:10.1002/pd.4615
        li
          p(style='padding-left: 25pt;text-indent: -9pt;text-align: left;')
            | Dharajiya NG, Grosu
            | DS,
            | Farkas DH, et al. Incidental Detection of Maternal Neoplasia in Noninvasive Prenatal Testing. Clin
            | Chem.
            | 2018;64(2):329-335. doi:10.1373/clinchem.2017.277517
      p(style='text-indent: 0pt;text-align: left;')
        br
      h2(style='padding-left: 16pt;text-indent: 0pt;text-align: left;')
        | Disclaimer: 
        span.p #{disclaimer}
      p(style='text-indent: 0pt;text-align: left;')
        br
      p(style='padding-left: 7pt;text-indent: 0pt;line-height: 1pt;text-align: left;')
      p(style='padding-left: 7pt;text-indent: 0pt;line-height: 1pt;text-align: left;')
      p(style='text-indent: 0pt;text-align: left;')
        br
      div(style='page-break-inside:avoid;page-break-after:always; border-top: gray; border-top-width: 1px; border-top-style: solid; margin-top:1pt')
        table(border='0' cellspacing='0' cellpadding='0' style='width: 100%; padding-top: 16pt; ')
          tbody
            tr
              td
                p(style='font-size: 7pt;')
                  strong Juno Diagnostics™:
                  |  11760 Sorrento Valley Rd, Suite J, San Diego, CA
                  |                             92121; 
                  strong CLIA ID#:
                  |                             05D2245052; 
                  strong Lab Director:
                  |  Juan-Sebastian Saldivar, MD.
                p #{hipaaDisclaimer}
              td
                p
              td
                img(width='86' height='30' src='./templates/assets/juno-logo-purple.svg')
        table(style='padding-bottom: 16pt; width: 100%;')
          tbody
            tr
              td(style='width: 200pt')
                p(style='font-size: 7pt;color: #8A727D;') #{patientName}, DOB #{patientDob}
              td
                p(style='font-size: 7pt;color: #8A727D;')  #{testName}
              td
                p(style='font-size: 7pt;')  
              td
                p Page 2 of 2

